
@font-face{
    font-family: 'MyFont';
    src:url('./fontawesome-webfont.eot')  format('eot'),
          url('./fontawesome-webfont.svg') format('svg'),
          url('./fontawesome-webfont.ttf')   format('ttf'),
          url('./fontawesome-webfont.woff') format('woff'),
          url('./fontawesome-webfont.woff2') format('woff2');
     font-weight: 600;
     font-style:normal;       
}
.hello{
    color: red;
    font-family: 'MyFont';
    background: url('./u=3532743473\,184108530&fm=200&gp=0.jpg') no-repeat center;
}